<br/><br/><br/>
<div class="row">
  <div class="col-lg-5 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Book Details</strong>
      </div>

      <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Title</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="text" class="form-control" [(ngModel)]="newBook.title" id="title" name="title"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Author</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="text" class="form-control" [(ngModel)]="newBook.author" id="author" name="author"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Category</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="text" class="form-control" [(ngModel)]="newBook.category" id="category" name="category"/>
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-9 col-lg-9">
              <button type="submit" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
