<br/><br/><br/>
<div class="container table-responsive">
  <div class="row">
    <a class="btn btn-info btn-xs pull-right" routerLink="/addBook" >
      <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Book Title</th>
        <th>Author</th>
        <th>Category</th>
        <th class="text-center">Operations</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList">
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.category }}</td>
          <td class="text-center">
            <a [routerLink]="['/editBook', book.id]" class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a (click)="onDelete(book)"
               class="btn btn-danger btn-xs">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
